<app-header titulo="Progress - Range"></app-header>

<ion-content class="ion-padding">

<ion-progress-bar type="determinate" 
              [value]="porcentaje" 
              reversed="false" 
              color="primary"></ion-progress-bar>

              <ion-list>
                <ion-item>
                  <ion-range (ionChange)="rageChange( $event )">
                    <ion-icon size="small" slot="start" name="sunny-outline"></ion-icon>
                    <ion-icon slot="end" name="sunny-outline"></ion-icon>
                  </ion-range>
                </ion-item>
              </ion-list>


</ion-content>
