<app-header titulo="cards"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatum accusamus animi itaque fugiat aut delectus nisi ratione! Laudantium quas ipsum aperiam ipsa quos quae. Ex error quod ducimus ad?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/01/solid-snake-1841255.jpg?tf=3840x" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatum accusamus animi itaque fugiat aut delectus nisi ratione! Laudantium quas ipsum aperiam ipsa quos quae. Ex error quod ducimus ad?
      </ion-card-content>
  </ion-card>

</ion-content>
